<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>welcome to <span><i class="fas fa-book"></i></span>Bookers !!</h1>
      <p>In <span><i class="fas fa-book"></i></span><span class="font-weight-bold">Bookers</span>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-block mb-3 btn-primary" %>
        </div>

        <div>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-block mb-3 btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>

